

<p>
  <strong>Miles walked:</strong>
  <%= @stat.miles_walked %>
</p>

<p>
  <strong>Date:</strong>
  <%= @stat.date %>
</p>



<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
